.card__btn {
  height: 30px;
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 15px;
  border-radius: 15px;
  background: linear-gradient(to right, rgb(45, 45, 255), rgb(12, 23, 152));
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;
}

.card__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
