.footer {
  display: flex;
  min-height: 80px;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 14px;
  padding: 15px;
}

.footer__link {
  color: white;
  text-decoration: none;
}

.footer__link:active {
  color: white;
}

.footer__copyright {
  padding-top: 20px;
}

@media (max-width: 500px) {
  .footer {
    flex-direction: column;
  }
}
